<a href="https://colab.research.google.com/github/Sar-mon/Ragastone12/blob/main/02_Phyton_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **What is the variable?**
## Something that store value

In [5]:
# Example as calculator
a = 3
b = 4
print(a+b)

7

In [6]:
#Chain assingment 1

a, b= 3, 4
print(a+b)

7

In [17]:
#Chain assingment  2
x=y=z=100
print(x,y,z)

100 100 100

# **3.Delete and clear**

In [18]:
# DElete x and y
del x, y

In [19]:
# Erase all cariable
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

# PRACTICE

In [28]:
# Practce
## Approximate the number 15.476352489
# to 1, 2, 3..., 8 decimals and print the results

# Use the variables
a = 15.476352489

print ("the approximate of", a)
for i in range(1, 9):
    print("with", i, "decimals is", round(a, i))

the approximate of 15.476352489
with 1 decimals is 15.5
with 2 decimals is 15.48
with 3 decimals is 15.476
with 4 decimals is 15.4764
with 5 decimals is 15.47635
with 6 decimals is 15.476352
with 7 decimals is 15.4763525
with 8 decimals is 15.47635249

In [38]:
# Something
W = 0

In [41]:
W += 2
#Cada vez que corre le va sumando el numero

# **4. Naming**

In [43]:
# Example
x = 39
miedades= 39
laedadquetengoyoes= 39
miedad= 39

In [44]:
#Mejor manera para poner nombre a una variable
my_age = 23

# **5. Data types**

# ** 5.1

# **5.2 Floats**

## **5.3 Booleans**

In [45]:
red_shirt = True

# **Boolean Expressions**

In [49]:
x = 2
y = 3
print('x is less than y?', x < y)
print('x is greater than y?', x > y)
print('x is equal to y?', x == y)
print('x is not equal to y?', x != y)
print('x is less than or equal to y?', x <= y)
print('x is greater than or equal to y?', x >= y)

x is less than y? True
x is greater than y? False
x is equal to y? False
x is not equal to y? True
x is less than or equal to y? True
x is greater than or equal to y? False

# **Boolean Math**

In [51]:
# SE condiciona dependediendo lo que uno quiera
red_shirt = True
blue_shirt = False
print(red_shirt + blue_shirt)

1

## 5.4. String

In [55]:
# Example
x= "Universidad de la salle"
print(x)

Universidad de la salle

### Index

In [57]:
# Example
print("the frst element of x is:", x[0])
print("the last element of x is:", x[-1])

the frst element of x is: U
the last element of x is: e

In [58]:
# Example
print("the second element of x is:", x[1])
print("the second to last element of x is:", x[-2])

the second element of x is: n
the second to last element of x is: l

In [59]:
# Example
print("the first word of x is:", x[0:11])

the first word of x is: Universidad

## Methods

In [61]:
# Upper case
x.upper()

'UNIVERSIDAD DE LA SALLE'

In [63]:
# Lower case
x.lower()

'universidad de la salle'

In [65]:
# Replace
nx = x.replace(' ', '_')
print(nx)

Universidad_de_la_salle